.search__input {
    display: flex;
    align-items: center;
    border: 1px solid lightgrey;
    height: 30px;
    width: 75vw;
    border-radius: 999px;
    padding: 10px 20px;
    margin: 40px auto 0 auto;
    max-width: 560px;
}

.search__input > input {
    flex: 1;
    padding: 10px 20px;
    font-size: medium;
    outline: none;
    border: none;
}

.search__inputIcon {
    color: gray;
}

.search__buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.search__buttons > button {
    margin: 5px;
    padding: 7px 15px;
    background-color: #f8f8f8;
    border: 1px solid white;
    text-transform: inherit;
    color: #5f6368;
}

.search__buttons > button:hover {
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.search__buttonsHidden {
    display: none;
}
